.iphone16 div.home-section {
    background-image: url("../images/iphone16-xl.webp");
}
.gift-magic div.home-section {
    background-image: url("../images/gift-magic-xl.webp");
}
.gift-magic div.home-section h2 {
    font-size: 4rem;
}
.gift-magic div.home-section h6 {
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.009em;
}
.gift-magic div.home-section div.bottom a {
    border-radius: 32px;
    padding: 10px 16px;
}
.pad-pod .home-section .ipad {
    background-image: url("../images/ipadair-xl.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.pad-pod .home-section .ipad div.top div a {
    border-radius: 32px;
    padding: 10px 16px;
}
.pad-pod .home-section .ipad div.top div a:first-child {
    margin-right: 1rem;
}
.gradient {
    background: linear-gradient(94deg, #0090F7, #BA62FC, #F2416B, #F55600);
    background-clip: text;
    color: transparent;
    display: inline-block;
    font-weight: 500;
}
.pad-pod .home-section .airpods {
    background-image: url("../images/airpods_xl.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.width-48 {
    width: 48%;
}
.airpods div.bottom h3, .mac div.bottom h3, .imac div.top h3 {
    font-size: 2.5rem;
}
.watch {
    background-image: url("../images/apple_watch_xl.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.mac {
    background-image: url("../images/macbook_air-xl.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.button-box a {
    border-radius: 32px;
    padding: 10px 16px;
}
.button-box a:first-child {
    margin-right: 1rem;
}
p.sub {
    font-size: 1.2rem !important;
}
.imac {
    background-image: url("../images/imac-xl.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.tradein {
    background-image: url("../images/tradein-xl.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.c0 {
    margin-right: -0.25rem;
}
.c1, .c2, .c3, .c4, .c5, .c6 {
    letter-spacing: -1rem;
}
.c1 {
    color: #3e935c;
}
.c2 {
    color: #edd142;
}
.c3 {
    color: #e3704b;
}
.c4 {
    color: #de5f7d;
}
.c5 {
    color: #827eb2;
}
.c6 {
    color: #547eae;
}
.terms p {
    font-size: 0.8rem;
    text-align: justify;
}
.links h6 {
    font-size: 0.8rem;
    margin-bottom: 0;
}
.links ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.links ul a {
    text-decoration: none;
    color: rgb(108, 117, 125);
    font-size: 0.8rem;
}
.footer-texts {
    text-decoration: none;
    color: rgb(108, 117, 125);
    font-size: 0.8rem;
}
@keyframes falldown {
    0% {height: 0%;}
    100% {height: 100%;}
}
.hover-menu {
    display: none;
    top: 100%;
    overflow: hidden;
    animation-name: falldown;
    animation-duration: 0.5s;
}
.hover-menu .small-text {
    font-size: 0.8rem !important;
}
@media all and (max-width: 767px) {
    .width-48 {
        width: 100%;
        height: 100vh;
    }
    .flex-parent {
        height: auto !important;
    }
}
@media all and (max-width: 737px) {
    .iphone16-pro div.home-section {
        background-image: url("../images/iphone16pro-sm.webp");
    }
    .iphone16 div.home-section {
        background-image: url("../images/iphone16-sm.webp");
    }
    .watch {
        background-image: url("../images/apple_watch_sm.webp");
    }
    .iphone .home-section div.top h1 {
        font-weight: 500;
        font-size: 2.4rem;
    }
    .iphone .home-section div.top h5 {
        font-weight: 400;
        font-size: 1.1rem;
    }
    .gift-magic div.home-section h2 {
        font-size: 3rem;
    }
}